## Association Rule:

#MARKET BASKET ANALYSIS....

## Dataset:

In [4]:
import pandas as pd

df = pd.read_excel("Online retail.xlsx")

In [5]:
df

     shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                                burgers,meatballs,eggs
1                                               chutney
2                                        turkey,avocado
3     mineral water,milk,energy bar,whole wheat rice...
4                                        low fat yogurt
...                                                 ...
7495                      butter,light mayo,fresh bread
7496  burgers,frozen vegetables,eggs,french fries,ma...
7497                                            chicken
7498                                 escalope,green tea
7499    eggs,frozen smoothie,yogurt cake,low fat yogurt

[7500 rows x 1 columns]

In [6]:
df.columns

Index(['shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil'], dtype='object')

In [7]:
df.isna()

      shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                                                 False
1                                                 False
2                                                 False
3                                                 False
4                                                 False
...                                                 ...
7495                                              False
7496                                              False
7497                                              False
7498                                              False
7499                                              False

[7500 rows x 1 columns]

In [8]:
df.isna().sum()

shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil    0
dtype: int64

In [11]:
# Ensure that the first column (containing the items) is split into lists
df['items'] = df.iloc[:, 0].str.split(',')

# Verify that the 'items' column exists
print(df.head())

  shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil  \
0                             burgers,meatballs,eggs
1                                            chutney
2                                     turkey,avocado
3  mineral water,milk,energy bar,whole wheat rice...
4                                     low fat yogurt

                                               items
0                         [burgers, meatballs, eggs]
1                                          [chutney]
2                                  [turkey, avocado]
3  [mineral water, milk, energy bar, whole wheat ...
4                                   [low fat yogurt]

In [12]:
# Explode the 'items' column so each item has its own row
df_exploded = df.explode('items')

# Verify the exploded DataFrame
print(df_exploded.head())

  shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil  \
0                             burgers,meatballs,eggs
0                             burgers,meatballs,eggs
0                             burgers,meatballs,eggs
1                                            chutney
2                                     turkey,avocado

       items
0    burgers
0  meatballs
0       eggs
1    chutney
2     turkey

In [13]:
# Example: Check the length of the Grouper column
print(len(df['items']))

7500

In [14]:
# Example: Check the length of the DataFrame's index
print(len(df.index))

7500

In [15]:
df_one_hot = pd.get_dummies(df_exploded['items'])

# Group the one-hot encoded items by transaction (i.e., original index) and sum
df_one_hot_encoded = df_one_hot.groupby(df_exploded.index).sum()

# Show the first few rows of the one-hot encoded data
df_one_hot_encoded

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

## USING TRANSACTION ENCODER:

In [16]:
# Split items into lists by commas
df['items'] = df.iloc[:, 0].str.split(',')

In [17]:
df.head()

,"shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil",items
0,"burgers,meatballs,eggs","[burgers, meatballs, eggs]"
1,chutney,[chutney]
2,"turkey,avocado","[turkey, avocado]"
3,"mineral water,milk,energy bar,whole wheat rice...","[mineral water, milk, energy bar, whole wheat ..."
4,low fat yogurt,[low fat yogurt]

In [18]:
!pip install mlxtend

Collecting mlxtend
  Using cached mlxtend-0.23.1-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: scipy>=1.2.1 in c:\users\yogendra jangid\anaconda3\lib\site-packages (from mlxtend) (1.13.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\yogendra jangid\anaconda3\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\users\yogendra jangid\anaconda3\lib\site-packages (from mlxtend) (2.2.2)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\yogendra jangid\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\yogendra jangid\anaconda3\lib\site-packages (from mlxtend) (3.8.4)
Requirement already satisfied: joblib>=0.13.2 in c:\users\yogendra jangid\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\yogendra jangid\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\yogendra jangid\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\yogendra jangid\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\yogendra jangid\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\yogendra jangid\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\yogendra jangid\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\yogendra jangid\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\yogendra jangid\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\yogendra jangid\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\yogendra jangid\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\yogendra jangid\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\yogendra jangid\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Using cached mlxtend-0.23.1-py3-none-any.whl (1.4 MB)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.23.1

In [19]:
from mlxtend.preprocessing import TransactionEncoder

# Convert the list of items into the format required by the TransactionEncoder
transactions = df['items'].tolist()

# Initialize the TransactionEncoder and fit_transform the data
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)# te.fit_transform(transaction)

# Convert the binary matrix to a DataFrame
df_encoded = pd.DataFrame(te_ary, columns=te.columns_)

# Show the first few rows of the encoded data
df_encoded

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

## APRIORI ALGORITHM :

In [20]:
# GENERATE FREQUENT ITEMS USING APRIORI ALGORITHM..

from mlxtend.frequent_patterns import apriori
freq_items=apriori(df_encoded,min_support=0.01,use_colnames=True)
freq_items

      support                                 itemsets
0    0.020267                                (almonds)
1    0.033200                                (avocado)
2    0.010800                         (barbecue sauce)
3    0.014267                              (black tea)
4    0.011467                             (body spray)
..        ...                                      ...
254  0.011067       (ground beef, milk, mineral water)
255  0.017067  (ground beef, spaghetti, mineral water)
256  0.015733         (spaghetti, milk, mineral water)
257  0.010267    (olive oil, spaghetti, mineral water)
258  0.011467     (spaghetti, pancakes, mineral water)

[259 rows x 2 columns]

## GENERATING ASSOCIATION RULES

In [21]:
# GENERATE ASSOCIATION RULES :
from mlxtend.frequent_patterns import association_rules
asso_rules=association_rules(freq_items,metric="confidence",min_threshold=0.5)
asso_rules=asso_rules.sort_values("confidence",ascending=False)
asso_rules

# MIN THRESHOLD IS A HYPER PARAMETER..


# HERE ,
# LIFT RATION SHOULD BE MORE THAN 1
# Rule: (ground beef, eggs) -> (mineral water)

#Support: 0.020000 (2% of the total transactions contain both "ground beef" and "eggs" and also "mineral water").

#Confidence: 0.506667 (In transactions where "ground beef" and "eggs" appear together, there is a 50.67% chance that "mineral water" is also purchased).

#Lift: 2.126469 (The likelihood of purchasing "mineral water" increases by 2.13 times when "ground beef" and "eggs" are bought together, 
#compared to buying "mineral water" randomly).

#Leverage: 0.010133 (This shows the difference in the probability of buying
#"mineral water" when "ground beef" and "eggs" are purchased together versus randomly).

#Conviction: 1.544054 (This means the rule is 1.54 times as likely to make an accurate prediction as a random guess).

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,"(eggs, ground beef)",(mineral water),0.020,0.238267,0.010133,0.506667,2.126469,0.005368,1.544054,0.540548
1,"(ground beef, milk)",(mineral water),0.022,0.238267,0.011067,0.503030,2.111207,0.005825,1.532756,0.538177

#NOW we can choose any rule based on your goals:

##High Lift: For strong associations between items.
High Confidence: For reliable rules with a high chance of the consequent item being bought.
High Support: For rules that apply to a large portion of transactions.
High Conviction: For rules with strong predictive power.
Pick the rule that best matches your specific needs, such as cross-selling or product recommendations.

## HYPER PARAMETER TUNING :

In [22]:
# DEFINE RANGES FOR MIN_SUPPORT AND MIN_THRESHOLD..
support_values = [0.01, 0.05, 0.1, 0.2,]
confidence_values = [0.5, 0.6, 0.7, 0.8, 0.9]



# GRID SEARCH ALGORITHMS :

for support in support_values:
    frequent_itemsets = apriori(df_encoded, min_support=support, use_colnames=True)
    for confidence in confidence_values:
        rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=confidence)
        # Evaluate and store the best rules based on lift, confidence, etc.
        print(f"Support: {support}, Confidence: {confidence}, Rules: {len(rules)}")

Support: 0.01, Confidence: 0.5, Rules: 2
Support: 0.01, Confidence: 0.6, Rules: 0
Support: 0.01, Confidence: 0.7, Rules: 0
Support: 0.01, Confidence: 0.8, Rules: 0
Support: 0.01, Confidence: 0.9, Rules: 0
Support: 0.05, Confidence: 0.5, Rules: 0
Support: 0.05, Confidence: 0.6, Rules: 0
Support: 0.05, Confidence: 0.7, Rules: 0
Support: 0.05, Confidence: 0.8, Rules: 0
Support: 0.05, Confidence: 0.9, Rules: 0
Support: 0.1, Confidence: 0.5, Rules: 0
Support: 0.1, Confidence: 0.6, Rules: 0
Support: 0.1, Confidence: 0.7, Rules: 0
Support: 0.1, Confidence: 0.8, Rules: 0
Support: 0.1, Confidence: 0.9, Rules: 0
Support: 0.2, Confidence: 0.5, Rules: 0
Support: 0.2, Confidence: 0.6, Rules: 0
Support: 0.2, Confidence: 0.7, Rules: 0
Support: 0.2, Confidence: 0.8, Rules: 0
Support: 0.2, Confidence: 0.9, Rules: 0

In [23]:
# For min_support >= 0.05, no rules are generated at any confidence level.
# FINAL WE SELECT MINIMUM SUPPORT 0.01 AND CONFIDENCE 0.5..
# OR WE  can use lower values for both min_support and min_confidence to generate more rules.

## INTERVIEW QUESTION :

## WHAT IS LIFT AND WHY IT IS IMPORTANT IN ASSOCIATION RULES ?

#ift is a metric used in association rule mining to evaluate the strength of a rule by comparing the observed co-occurrence of items to what would be expected if they were independent. It tells you how much more likely two items are to be purchased together compared to if their co-occurrence were purely random.
Confidence 
A→B: The probability of buying item B given that item A is bought.

Support 
B: The proportion of transactions that contain item B.

## WHAT IS SUPPORT AND CONFIDENCE AND HOW DO I CALCULATE THEM

#Support and Confidence are key metrics in association rule mining that help evaluate the strength and relevance of rules generated from a dataset.

#1. Support

#Support measures how frequently an itemset appears in the dataset. It helps identify the general importance or frequency of an itemset, or combination of items, in all transactions.

#2. Confidence

#Confidence measures the likelihood that item B is purchased when item A is already purchased. It reflects the conditional probability of B given A.

#We can calculate Support and Confidence using the Apriori algorithm or other tools such as mlxtend for association rule mining.

## WHAT ARE SOME LIMITATIONS OR CHALLENGES OF ASSOCIATION RULES MINING ?

###1.Computationally Expensive : Takes a lot of time and resources for large dataset. 
###2. Too Many Rules: Generates many rules and finding the useful ones can be hard.
###3. Meaningless Associations: Some rules may not be useful or relevent.
###4. Rare Items Overlooked : Rule but important items may be missed if support is to high.
###5. Scalability: Struggles with very large datasets.
###6. Hard To Interpret: Even strong rules can be difficul